## user defined functions
- on the basics of signature functions can be divided into
    - no agrument no return type (game programming mostly)
    - no aregument with return type
    - with argument no return type
    - with agrument with return type
    - lambada function anonymours functions

## Conventions for making a function
- function name should be in lower case
- function should never take input from user
- dont use print function to display result from func,prefer returning value
- functions must be defined before calling
- function should be called after they have been defined to actually excute them

```python
def func_name([params]):
    ```
    docstring
    ```
    # body of function
    [retrun statement]

In [2]:
def welcome():
    '''a function that welcome users'''
    print('welcome to python functions!')

In [3]:
welcome()

welcome to python functions!

In [4]:
for i in range(3):
    welcome()

welcome to python functions!
welcome to python functions!
welcome to python functions!

In [15]:
# function returning value
def get_random_letter():
    import random
    code= random.randint(0,255)
    return chr(code)

In [16]:
print(get_random_letter())
print(get_random_letter())
print(get_random_letter())
print(get_random_letter())
print(get_random_letter())

M
Ú

=
¾

In [19]:
def get_random_letter1():
    import random
    code= random.randint(2304,2432)
    return chr(code)

In [20]:
print(get_random_letter1())

ॸ

In [18]:
def get_random_letter2():
    import random
    code= random.randint(0x4e00,0x9fff)
    return chr(code)

In [21]:
print(get_random_letter2())

遐

In [ ]:
get_random_letter()+

In [14]:
def simple_interest(p,r,t):
    return p*r*t/100

In [15]:
ans=simple_interest(120000,2.11,4)
print(ans)

10127.999999999998

In [16]:

simple_interest(p=150000,r=1.56,t=10)

23400.0

In [31]:
simple_interest(p=150000,r=1.56,t=10)

23400.0

### Parametrized functions
  - functions that accept parameters are called parameterized funcitons,
  - there are 4 types of parameterized functions
    - functions with 'required' parameters
    - functions with 'default' parameters
    - functions with 'variable' parameters/arguments
    - functions with 'variable keyword arguments'

In [2]:
def adder(a,b,c,d):
    ans= a+b+c+d
    return ans

In [4]:
x= adder(10,20,2,4) # all parameters are required
print(x)

36

In [6]:
def adderv2(a,b,c=1,d=1):  # c and d are optional parameters,since they have default values
    return a+b+c+d

In [11]:
print(adderv2(10,10,20,30))
print(adderv2(10,20,20))
print(adderv2(10,20))
print(adderv2(10,20,c=100))

70
51
32
131

In [32]:
def savefile(content,filename='output.txt',dont_change=False):
    import os
    if dont_change and os.path.exists(filename): 
        return 'file already exists'
    else:
        with open(filename,'w') as f:
            f.write(content)
        return 'file saved'

In [33]:
c='''ye 
raha
Content
'''
savefile(c)

'file saved'

In [23]:
c='''something else
is here'''
savefile(c)

'file saved'

In [25]:
c='''another 
content here'''
savefile(c,dont_change=True)

'file already exists'

In [27]:
savefile(c,'output.csv')
savefile(c,'output2.txt')

'file saved'

In [28]:
data='''
biscuit 100
chocolate 200
milk 50
clothes 500
'''
savefile(data,'budget.txt')

'file saved'

In [29]:
data='''
biscuit 400
chocolate 1200
milk 500
clothes 1500
'''
savefile(data,'budget.txt',dont_change=True)

'file already exists'

In [30]:
def calc(a,b,o='+'):
    if o=='+':
        return a+b
    elif o == '-':
        return a-b
    elif o=='*':
        return a*b
    elif o=='/':
        return a/b
    else:
        return 'invalid operator use(+ - * /)'

In [31]:
print(calc(10,20))
print(calc(10,20,'*'))
print(calc(10,20,'/'))
print(calc(10,20,'-'))

30
200
0.5
-10

In [34]:
#variable arguments
def adderv3(*numbers):
    return sum(numbers)

In [37]:
print(adderv3(1))
print(adderv3(12))
print(adderv3(1,2,3,4))
print(adderv3(1,15,3,2,562,312))

1
12
10
895

In [40]:
#avg
def average(*num):
    add=sum(num)
    size=len(num)
    avg=add/size
    return avg

In [41]:
print(average(10,20,30,40))

25.0

In [44]:
def names(**details):
    for k,v in details.items():
        print(f"{k} is {v}")

In [45]:
names(rahul=29,raj=30,ravi=31)

rahul is 29
raj is 30
ravi is 31

In [46]:
names(rahul=29)

rahul is 29

In [47]:
names(ajay=29,rahul=29,raj=30,ravi=31,sonu=32)

ajay is 29
rahul is 29
raj is 30
ravi is 31
sonu is 32

In [48]:
f= lambda x: x+2*x
g= lambda x,y:x**y + 10

In [49]:
print(f(10) + g(10,2))

140

In [50]:
map(lambda x: x**2,[51,2,3,13,4,5])

### Map- to apply same  operation on each element of iterable
### filter- to apply a condition on each item of an iterabale &  give only those items that have true value

In [2]:
x=[1,2,3,4,5,6,7]    #map old iterable= new iterable
y={i+2 for i in x}
print(y)

{3, 4, 5, 6, 7, 8, 9}

In [4]:
### list(map(func, iterable))
x=[1,23,12,31,2,3,12,3,12,31,2]
xnew=list(map(lambda i:i+2,x))
print(x)
print(xnew)

[1, 23, 12, 31, 2, 3, 12, 3, 12, 31, 2]
[3, 25, 14, 33, 4, 5, 14, 5, 14, 33, 4]

In [7]:
a=[1,2,5,11]
b=[3,5,10,12]
add=list(map(lambda i,j:i+j,a,b))
print(add)

[4, 7, 15, 23]

In [9]:
a=[1,2,5,11] #comprehension
b=[3,5,10,12]
c=[i+j for i,j in zip(a,b)]
print(c)

[4, 7, 15, 23]

In [12]:
num= input('Enter numbers sep with comma:')
print(num,type(num))
num=list(map(int,num.split(',')))
print(num,type(num))

1,2,3,4,5 <class 'str'>
[1, 2, 3, 4, 5] <class 'list'>

In [22]:
names=[                    # create a list with firstname in case lower only
    'clark kent',
    'bruce wayne',
    'hal jordan',
]

In [23]:
fnames=list(map(lambda i:i.split()[0].lower(),names))
print(fnames)

['clark', 'bruce', 'hal']

In [24]:
data=[[12,5],[3,5],[2,2]]
from math import hypot
ans=tuple(map(lambda i: hypot(i[0],i[1]),data))
print(ans)

(13.0, 5.830951894845301, 2.8284271247461903)

In [25]:
def apna_func(value):
    return value[::-1]

data=['abc','def','ghi']
rev_data = list(map(apna_func,data))
print(rev_data)

['cba', 'fed', 'ihg']

In [28]:
x

[1, 23, 12, 31, 2, 3, 12, 3, 12, 31, 2]

In [27]:
list(filter(lambda i: i>10,x))

[23, 12, 31, 12, 12, 31]

In [29]:
names

['clark kent', 'bruce wayne', 'hal jordan']

In [30]:
list(filter(lambda i:"e" in i,names))

['clark kent', 'bruce wayne']