In [1]:
x = 1

### datatypes
* int
* float
* bool
* str  *
* Nonetype
* list *
* tuple
* set
* dict *

In [2]:
a = "apple"

In [3]:
a = 1000

In [4]:
a = 3.1415

In [5]:
a = True

In [6]:
b = None

In [7]:
b= [1,2,3]

In [8]:
c = (1,2,3) # tuple

In [9]:
d = {1,2,3} # set
e = {'a':'apple', 'b':'banana'} #dict

### Operators in python
* arithmetic operators
* assigment operators
* comparison operators
* logical operators
* identity operators
* membership operators
* bitwise operators

In [10]:
a = 10
b = 3

In [12]:
print(a+b)
print(a-b)
print(a*b)
print(a/b) # div(float)
print (a//b) # div(int)
print(a%b) # mod
print(a**b) # pow

13
7
30
3.3333333333333335
3
1
1000

In [13]:
a = 10
print(a)
a -= 2 #reduce 2 from a
print(a)
a +=4 # add 4 to a
print(a)
a *=4
print(a)
a /=4
print(a)
a //=4
print(a)
a %=4
print(a)
a **=4
print(a)

10
8
12
48
12.0
3.0
3.0
81.0

In [14]:
print(a > b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)
print(0<a<20)

True
False
False
True
False
True
False

In [15]:
a = 100
print(0<a<20)

False

In [16]:
name = "Raju"
age = 19
print(name == 'Rohan')
print(name == 'Raju')

False
True

In [17]:
print(name == "Raju" and age>= 18)
print(name == "Sohan" and age<18)
print(name != "Sohan" or age<= 18)
print(name != "Sohan" or not age< 18)
print(not name == "Raju" and not age>= 18)

True
False
True
True
False

In [18]:
a = [1,2,3]
b= a
c= a.copy()

In [19]:
print(a is b) # a and b are at same memory location
print(a is c) # a and c are at different memory location
print (b  is c) # b and c are at different memory location

True
False
False

reference copy
value copy

In [20]:
name = "Willaim Shakespeare"
print('pear' in name)
print('shake' in name)
print('shake' in name)

True
False
False

In [21]:
colors = ['red','green','blue']
print('red' in colors)
print ('yellow' in colors)
print('green' in colors)

True
False
True

In [23]:
p = 12000
r = 7
t = 2
si =p*r*t/100
print(si)

1680.0