* display simple data
* formatted display

In [1]:
name= "Alexander"
age  = 23

In [2]:
name
age

23

In [3]:
print(name)
print(age)

Alexander
23

In [4]:
print("Your name is", name)
print("you are",age,"years old")

Your name is Alexander
you are 23 years old

In [5]:
print("Amaan","Nishant","Ayush","Kratagya")

Amaan Nishant Ayush Kratagya

In [7]:
print("Amaan","Nishant","Ayush","Kratagya",sep="\n")

Amaan
Nishant
Ayush
Kratagya

In [8]:
print("Amaan","Nishant","Ayush","Kratagya",sep=" aur ")

Amaan aur Nishant aur Ayush aur Kratagya

In [9]:
print(1)
print(2)
print(3)

1
2
3

In [10]:
print(1, end=" ")
print(2)
print(3)

1 2
3

### f-string = formatted string literals

In [11]:
x = 5
y = 10
z = 20

print(x,"+",y,"=",x+y)

5 + 10 = 15

In [12]:
print(f'{x}+{y}={x+y}')

5+10=15

In [14]:
p1= "Natasha"
p2 = "Mehak"
len(p1)
len(p2)

5

In [1]:
p1= "Natasha"
p2 = "Mehak"
print(f'{p1} has {len(p1)} Chars')
print(f"{p2} has {len(p2)} Chars")

Natasha has 7 Chars
Mehak has 5 Chars

In [16]:
print(f"{p1} = {len(p1)} Chars")
print(f"{p2} = {len(p2)} Chars")

Natasha = 7 Chars
Mehak = 5 Chars

In [17]:
p3 ="Sam"
print(f"{p1:10} = {len(p1)} Chars")
print(f"{p2:10} = {len(p2)} Chars")
print(f"{p3:10} = {len(p3)} Chars")

Natasha    = 7 Chars
Mehak      = 5 Chars
Sam        = 3 Chars

In [18]:
print(f"{p1:>10} = {len(p1)} Chars")
print(f"{p2:>10} = {len(p2)} Chars")
print(f"{p3:>10} = {len(p3)} Chars")

   Natasha = 7 Chars
     Mehak = 5 Chars
       Sam = 3 Chars

In [19]:
print(f"{p1:^10} = {len(p1)} Chars")
print(f"{p2:^10} = {len(p2)} Chars")
print(f"{p3:^10} = {len(p3)} Chars")

 Natasha   = 7 Chars
  Mehak    = 5 Chars
   Sam     = 3 Chars

In [20]:
print(f"{p1:<10} = {len(p1)} Chars")
print(f"{p2:<10} = {len(p2)} Chars")
print(f"{p3:<10} = {len(p3)} Chars")

Natasha    = 7 Chars
Mehak      = 5 Chars
Sam        = 3 Chars

In [24]:
pi = 22/7
print(f'the value of pi is {pi}') 
print(f'the value of pi is {pi:.2f}') 
print(f'the value of pi is {pi:.5f}') 
print('ðŸ˜Š') # wind + .

the value of pi is 3.142857142857143
the value of pi is 3.14
the value of pi is 3.14286
ðŸ˜Š

### input()

In [25]:
city = input("Which city do you live in? ")

In [26]:
print(f'I live in {city}')

I live in lucknow

### type casting

In [29]:
a = 10
print(type(a))
a = bool(a) # convert  a to boolean
print (a, type(a))
a = int(a) # convert a to integer
print(a,type(a))

<class 'int'>
True <class 'bool'>
1 <class 'int'>

In [30]:
a ='100001'
print(a,type(a))
a = int(a)
print(a,type(a))

100001 <class 'str'>
100001 <class 'int'>

In [31]:
pi = int(pi)
print(pi,type(pi))
pi= float(pi)
print(pi,type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [32]:
print(f'{pi:.15f}')

3.000000000000000

In [34]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))
print(a ** b)

64