#### for 
* step base loop
* repeating a step n number of times
* enumeration
* tarversing iterables

#### while
* condition based loop

#### for var in iterables:
        statements

In [2]:
for item in range(10):
    print(item,end=" ")

0 1 2 3 4 5 6 7 8 9

In [3]:
for i in range(-10,10):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(-10,11,2):
    print(i,end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

In [6]:
for i in range(15,0,-1):
    print(i,end=" ")

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [7]:
for i in range(2,101,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [8]:
for _ in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [13]:
name = "Alber Silvador"
words = ['hi','hello','aloha','hola'] # list
colors = ('red','green','blue') # tuple
numbers = {1,2,5,6,7,23,12,21,25} # set

In [14]:
for char in name:
    print(char,end=" ")
print()
for word in words:
    print(word,end=' ')
print()
for c in colors:
    print(c,end=' ')
print()
for i in numbers:
    print(i,end=' ')
print()

A l b e r   S i l v a d o r
hi hello aloha hola
red green blue
1 2 5 6 7 12 21 23 25

In [15]:
names =['harsh','nishant','amaan','kratagya','ayush']
for value in enumerate(names):
    print(value)

(0, 'harsh')
(1, 'nishant')
(2, 'amaan')
(3, 'kratagya')
(4, 'ayush')

In [17]:
names =['harsh','nishant','amaan','kratagya','ayush']
for idx,val in enumerate(names):
    print(idx,val)

0 harsh
1 nishant
2 amaan
3 kratagya
4 ayush

In [18]:
surnames=['srivastava','shukla','raza','jaiswal','singh']
for fname,lname in zip(names,surnames):
    print(fname,lname)

harsh srivastava
nishant shukla
amaan raza
kratagya jaiswal
ayush singh

In [22]:
x =[1,2,0,3,4,0,5]
for i in x:
    if i == 0:
        continue # skip
    print(i,end=' ')

1 2 3 4 5

In [23]:
x =[1,2,0,3,4,0,5]
for i in x:
    if i == 0 or i == 5:
        continue # skip
    print(i,end=' ')

1 2 3 4

In [24]:
x =[1,2,0,3,4,0,5]
for i in x:
    if i == 0:
        break
    print(i,end=' ')

1 2

In [25]:
x =[]
for i in x:
    print(i,end=' ')

In [29]:
# for - else
for i in range(5):
    name=input('Enter name of person: ')
    if name:
        print(f'hello {name}')
    else:
        break    
else:    
    print('well done')

hello a
hello b
hello c
hello d
hello e
well done

In [30]:
n = 0
while n<100:
    print(n)
    n  += 10

0
10
20
30
40
50
60
70
80
90

In [31]:
#infinite loop controlled by user
while True:
    num = int(input('Enter number greater than 100: '))
    if num> 100:
        print(f'{num}')
    else:
        print(f'X{num}X')
        break

101
X10X