# Comprehension in python
 ** single line code for generation an iterable form an existing iterable**
 - list comprehension
 - set comprehension
 - dictionary comprehension

syntax 1:
```
new_it =[operation for item in existing_it]

```
syntax 2:
```python
new_it=[operation for item in existing_it if condition]
```

In [1]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
n=[m for m in range(1,11)]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
n=[h for h in range(1,11) if h%2==0]
print(n)

[2, 4, 6, 8, 10]

In [5]:
s='hello'
d=[g for g in s]
print(d)

['h', 'e', 'l', 'l', 'o']

In [2]:
a=[1,2,3,4]
a2=[]
for i in a:
    s=i**2
    a2.append(s)
print(a)
print(a2)

[1, 2, 3, 4]
[1, 4, 9, 16]

In [3]:
a2 =[i**2 for i in a]
print(a2)

[1, 4, 9, 16]

In [4]:
names= ['alex','susan','tom','jerry']
shorts=[]
for name in names:
    s= name[:2]
    shorts.append(s)
print(names)
print(shorts)

['alex', 'susan', 'tom', 'jerry']
['al', 'su', 'to', 'je']

In [6]:
shorts=[name[:2] for name in names]
print(shorts)

['al', 'su', 'to', 'je']

In [10]:
numbers =[12,4,1,4,5,2,5,6]
num=[i-10 for i in numbers]
print(num)

[2, -6, -9, -6, -5, -8, -5, -4]

In [11]:
evens=[n-10 for n in numbers if n%2==0]
print(numbers)
print(evens)

[12, 4, 1, 4, 5, 2, 5, 6]
[2, -6, -6, -8, -4]

In [12]:
guests= ['raman','sita','gita','hari','rahul','sohan']
guest_i=[name for name in guests if 'i' in name.lower()]
print(guests)
print(guest_i)

['raman', 'sita', 'gita', 'hari', 'rahul', 'sohan']
['sita', 'gita', 'hari']

In [13]:
x={1,2,3}
x2={i**2 for i in x}
print(x)
print(x2)

{1, 2, 3}
{1, 4, 9}

In [14]:
y={1,2,3,4,5,6,1,1,1}
y2={i-5 for i in x}
print(y)
print(y2)

{1, 2, 3, 4, 5, 6}
{-4, -3, -2}

In [15]:
# dict comprehension
x={'a':'apple','b':'banana','c':'cherry'}
x2={k:v.upper() for k,v in x.items()}
print(x2)

{'a': 'APPLE', 'b': 'BANANA', 'c': 'CHERRY'}

In [3]:
z={'a':'apple','b':'banana','c':'cherry'}
z1={value:key for key,value in z.items()}
print(z1)

{'apple': 'a', 'banana': 'b', 'cherry': 'c'}

In [16]:
# list to dict
x=[13,2,1,2,5,6,5,123,3,23,2,2]
xd={i:v for i,v in enumerate(x)}
print(x)
print(xd)

[13, 2, 1, 2, 5, 6, 5, 123, 3, 23, 2, 2]
{0: 13, 1: 2, 2: 1, 3: 2, 4: 5, 5: 6, 6: 5, 7: 123, 8: 3, 9: 23, 10: 2, 11: 2}

In [17]:
x=[13,2,1,2,5,6,5]
y= ['a','b','c','d','e','f','g']
xd={i2:i1 for i2,i1 in zip(x,y)}
print(x)
print(xd)

[13, 2, 1, 2, 5, 6, 5]
{13: 'a', 2: 'd', 1: 'c', 5: 'g', 6: 'f'}

In [19]:
x=(1,2,3) #
x2=(i**2 for i in x)
list(x2)

[1, 4, 9]

In [20]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]