### dictionary
 * create
 * access
 * change
 * methods

In [4]:
dict1={
    'name': 'Natasha Kanojia',  # keys : values
    'age' : 30,
    'gender': 'female'
}
print(dict1)
print(dict1.values())
print(dict1.keys())
print(type(dict1))
print(len(dict1))

{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female'}
dict_values(['Natasha Kanojia', 30, 'female'])
dict_keys(['name', 'age', 'gender'])
<class 'dict'>
3

In [6]:
student={
    'name': 'Natasha Kanojia',  # keys : values
    'age' : 30,
    'gender': 'female'
}
print(student['name'])
print(student['age'])

Natasha Kanojia
30
Natasha Kanojia

## get()

In [9]:
x=student.get('name')
print(x)

Natasha Kanojia

## item()

In [12]:
student={
    'name': 'Natasha Kanojia',  # keys : values
    'age' : 30,
    'gender': 'female'
}
print(student.items())

dict_items([('name', 'Natasha Kanojia'), ('age', 30), ('gender', 'female')])

## change and update

In [14]:
# change and update
student['age']= 25
print(student)
student.update({'year':2023,'age':30})
print(student)

{'name': 'Natasha Kanojia', 'age': 25, 'gender': 'female'}
{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female', 'year': 2023}

In [53]:
ep1={122:45,123:89,567:69}
ep2={12:48,13:8,67:469}
ep1.update(ep2)
print(ep1)
del ep1[122]
print(ep1)

{122: 45, 123: 89, 567: 69, 12: 48, 13: 8, 67: 469}
{123: 89, 567: 69, 12: 48, 13: 8, 67: 469}

In [2]:
# data=[33,100,'sunny',6,'lucknow']
data={'temp':33,'humidity':100,'weather':'sunny','wind': 6,'location': 'lucknow'}
print(data)

{'temp': 33, 'humidity': 100, 'weather': 'sunny', 'wind': 6, 'location': 'lucknow'}

In [3]:
students={'names':['mahek','natasha','Aditya','Yusuf'],'academic':['btech','bca','bba','bcom']}
students

{'names': ['mahek', 'natasha', 'Aditya', 'Yusuf'],
 'academic': ['btech', 'bca', 'bba', 'bcom']}

In [16]:
# nested dictionary
products={
    'fruits':[
        {'name':'apple','qty':10},
        {'name':'banana','qty':50},
        {'name':'cherry','qty':25}
    ],
    'vegetables':[
        {'name':'potato','qty':100},
        {'name':'tomato','qty': 50},
        {'name': 'onion','qty':50},
    ],
}

In [9]:
data={'temp':33,'humidity':100,'weather':'sunny','wind': 6,'location': 'lucknow'}
data['weather']

'sunny'

In [6]:
data['location']

'lucknow'

In [18]:
products={
    'fruits':[
        {'name':'apple','qty':10},
        {'name':'banana','qty':50},
        {'name':'cherry','qty':25}
    ],
    'vegetables':[
        {'name':'potato','qty':100},
        {'name':'tomato','qty': 50},
        {'name': 'onion','qty':50},
    ],
}

products['vegetables']

[{'name': 'potato', 'qty': 100},
 {'name': 'tomato', 'qty': 50},
 {'name': 'onion', 'qty': 50}]

In [10]:
students['names']

['mahek', 'natasha', 'Aditya', 'Yusuf']

In [12]:
students['names'][0]

'mahek'

In [14]:
products['vegetable'][1]['name']

'tomato'

In [16]:
data={'temp':33,'humidity':100,'weather':'sunny','wind': 6,'location': 'lucknow'}
data['temp']=20  # change value of existing key
data['weather']= 'thunderstorm'
print(data)

{'temp': 20, 'humidity': 100, 'weather': 'thunderstorm', 'wind': 6, 'location': 'lucknow'}

In [17]:
# dict[new key]= new value(adds new key-value pair)
data['webssite']= 'accuweather.com'
data

{'temp': 20,
 'humidity': 100,
 'weather': 'thunderstorm',
 'wind': 6,
 'location': 'lucknow',
 'webssite': 'accuweather.com'}

## pop(), popitem(), clear(), del

In [52]:
student={
    'name': 'Natasha Kanojia',  # keys : values #pop method removes the key-vlaue pair whose key is passes as a parameter
    'age' : 30,
    'gender': 'female',
    'year': 2023
}

print(student)
student.pop('year') 
print(student)
student.popitem() #it will remove last pair item
print(student)
student.clear()
print(student)
del student  #delete everything

{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female', 'year': 2023}
{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female'}
{'name': 'Natasha Kanojia', 'age': 30}
{}

## copy()

In [28]:

student={
    'name': 'Natasha Kanojia',  # keys : values
    'age' : 30,
    'gender': 'female',
    'year': 2023
}
print(student)
student2=student.copy()
print(student2)

{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female', 'year': 2023}
{'name': 'Natasha Kanojia', 'age': 30, 'gender': 'female', 'year': 2023}

## append()

In [18]:
students['names'].append('Rohan')
students['academic'].append('12th')
students

{'names': ['mahek', 'natasha', 'Aditya', 'Yusuf', 'Rohan'],
 'academic': ['btech', 'bca', 'bba', 'bcom', '12th']}

In [19]:
students['names']='something'
students

{'names': 'something', 'academic': ['btech', 'bca', 'bba', 'bcom', '12th']}

In [21]:
orange={'name':'orange','qty':10}
products['fruits'].append(orange)
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 10}],
 'vegetable': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

In [19]:
products['cereals']='no cereal available'
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25}],
 'vegetables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}],
 'cereals': 'no cereal available'}

#### methods
 - keys()
 - values()
 - items()
 - get()
 - update()
 - pop()

In [40]:
data={'temp':33,'humidity':100,'weather':'sunny','wind': 6,'location': 'lucknow'}
data.keys()

dict_keys(['temp', 'humidity', 'weather', 'wind', 'location'])

In [23]:
list(data.keys())

['temp', 'humidity', 'weather', 'wind', 'location', 'webssite']

In [26]:
list(data.items())

[('temp', 20),
 ('humidity', 100),
 ('weather', 'thunderstorm'),
 ('wind', 6),
 ('location', 'lucknow'),
 ('webssite', 'accuweather.com')]

In [27]:
 # simple for loop gives only keys from a dictionary
for i in data:
    print(i)

temp
humidity
weather
wind
location
webssite

In [48]:
for i in data.keys(): #gives values  or print(data.values())
    print(data[i])

33
100
sunny
6
lucknow

In [49]:
print(data.values())

dict_values([33, 100, 'sunny', 6, 'lucknow'])

In [46]:
for i in data.items():
    print(i)

('temp', 33)
('humidity', 100)
('weather', 'sunny')
('wind', 6)
('location', 'lucknow')

In [30]:
for key,value in data.items():
    print(key,':',value)

temp : 20
humidity : 100
weather : thunderstorm
wind : 6
location : lucknow
webssite : accuweather.com

In [31]:
for key in data:
    print(key,data[key])

temp 20
humidity 100
weather thunderstorm
wind 6
location lucknow
webssite accuweather.com

In [32]:
x={
    'apple':'pie',
    'orange':'jam',
    'pineapple': 'juice'
}
y= {
    'potato':'fries',
    'tomato': 'ketchup'
}

In [33]:
x.update(y)
print(x)
print(y)

{'apple': 'pie', 'orange': 'jam', 'pineapple': 'juice', 'potato': 'fries', 'tomato': 'ketchup'}
{'potato': 'fries', 'tomato': 'ketchup'}

In [36]:
print(x.get('apple')) # valik key-valid value
print(x.get('apples')) #invalid key-none
print(x.get('apples','not found'))# invalid key-default value
print(x.get('apple','not found')) # valid key- valid value

pie
None
not found
pie

In [35]:
inp=input('Enter item name')
print(x.get(inp,'not found'))

jam

## Nested dictionary

In [34]:
school ={
    'student1':{
        'name': 'Natasha',
        'age': 30
    },
    'student2':{
        'name': 'shalu',
        'age': 25
    },
    'student3':{
        'name': 'rahul',
        'age': 28
    }
}
print(school['student2'])
print(school['student1']['name'])
data=school['student1']['name']
print(data)
k1=school['student1'].keys()
print(k1)
k1=school['student1'].values()
print(k1)

{'name': 'shalu', 'age': 25}
Natasha
Natasha
dict_keys(['name', 'age'])
dict_values(['Natasha', 30])

### update and remove

In [39]:
school ={
    'student1':{
        'name': 'Natasha',
        'age': 30
    },
    'student2':{
        'name': 'shalu',
        'age': 25
    },
    'student3':{
        'name': 'rahul',
        'age': 28
    }
}
school['student2']['name']='juhi'
print(school)
school['student1'].pop('name')
print(school)
school['student2'].popitem()
print(school)

{'student1': {'name': 'Natasha', 'age': 30}, 'student2': {'name': 'juhi', 'age': 25}, 'student3': {'name': 'rahul', 'age': 28}}
{'student1': {'age': 30}, 'student2': {'name': 'juhi', 'age': 25}, 'student3': {'name': 'rahul', 'age': 28}}
{'student1': {'age': 30}, 'student2': {'name': 'juhi'}, 'student3': {'name': 'rahul', 'age': 28}}