#### list - 
* ordered,
* indexed,
* mutable,
* duplicate values
* values only
* []
* list()
#### tuple- 
* ordered,
* indexed,
* immutable,
* duplicate values,
* values only
* ()
* tuple ()
#### set- 
* unordered,
* unindexed mutable,
* unique values,
* values only
* {}
* set()
#### dict-
* ordered,
* unindexed,
* mutable,
* unique keya,
* duplicate values, 
* key value pair
* {}
* dict()

# list- is use to store multiple item in same variables
- create
- indexing & slicing
- traversing
- manipulate

In [2]:
l1= [4,'natasha',True,'natasha',17.4]
print(l1)
print(type(l1))
print(len(l1))

[4, 'natasha', True, 'natasha', 17.4]
<class 'list'>
5

In [3]:
l2=list((1,'saud'))
print(l2)

[1, 'saud']

## list slicing

In [8]:
l1= [4,'natasha',95,True,17.4,'shalu',45,'natasha']
name= l1[5]
print(name)
name=l1[-1]
print(name)
namel1=l1[-6]
print(namel1)

shalu
natasha
95

In [12]:
l1= [4,'natasha',95,True,17.4,'shalu',45,'natasha']
var=l1[2:4]  #[start:end+1]
print(var)
var1=l1[:4]
var2=l1[4:]
print(var1)
print(var2)

[95, True]
[4, 'natasha', 95, True]
[17.4, 'shalu', 45, 'natasha']

In [14]:
l1= [4,'natasha',95,True,17.4,'shalu',45,'natasha']
var3=l1[4:]
var4=l1[-5:]
var5=l1[-5:-1]
var6=l1[-5:-2]
print(var3)
print(var4)
print(var5)
print(var6)

[17.4, 'shalu', 45, 'natasha']
[True, 17.4, 'shalu', 45, 'natasha']
[True, 17.4, 'shalu', 45]
[True, 17.4, 'shalu']

In [1]:
a = [] # empty list
print(a)

[]

In [4]:
b = [1,2,3] # number list
c= ['alpha','beta','gamma'] # string list
d= ['arun',100,'varun',150,'tarun',130] # mixed datatype
e = [[1,2,3],[2,3,4,5]] # nested list
f =[1,2,3]
g = [ f,f,f,f] # list of list
h = [2] * 10 # list multiplication
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

[]
[1, 2, 3]
['alpha', 'beta', 'gamma']
['arun', 100, 'varun', 150, 'tarun', 130]
[[1, 2, 3], [2, 3, 4, 5]]
[1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [6]:
print(b[0]) # first
print(b[2]) # third

1
3

In [1]:
nums = [12,34,25,54,23,453]
print('first three', nums[:3])
print('last three',nums[-3:])
print('all content except first 2 and last 2',nums[2:-2])
print('reverse',nums[::-1])
print('even indexed item',nums[::2])

first three [12, 34, 25]
last three [54, 23, 453]
all content except first 2 and last 2 [25, 54]
reverse [453, 23, 54, 25, 34, 12]
even indexed item [12, 25, 23]

# changing and updating list

In [18]:
l1= [4,'natasha',95,True,17.4,'shalu',45,'natasha']
print(l1)
l1[2]= 98
print(l1)
l1[2:4]=['neha',66]
print(l1)
l1[2:5]=[87]
print(l1)

[4, 'natasha', 95, True, 17.4, 'shalu', 45, 'natasha']
[4, 'natasha', 98, True, 17.4, 'shalu', 45, 'natasha']
[4, 'natasha', 'neha', 66, 17.4, 'shalu', 45, 'natasha']
[4, 'natasha', 87, 'shalu', 45, 'natasha']

In [22]:
l1= [4,'natasha',95,True,17.4,'shalu',45,'natasha']
print(l1)
l1[-3]=[95,'abc',45.47]
print(l1)
l1[-3]=(95,'abc',45.47)
print(l1)
l1[5:6]=[95,'abc',45.47]  #store multiple value in single position
print(l1)

[4, 'natasha', 95, True, 17.4, 'shalu', 45, 'natasha']
[4, 'natasha', 95, True, 17.4, [95, 'abc', 45.47], 45, 'natasha']
[4, 'natasha', 95, True, 17.4, (95, 'abc', 45.47), 45, 'natasha']
[4, 'natasha', 95, True, 17.4, 95, 'abc', 45.47, 45, 'natasha']

In [9]:
nums[0] = 120 # change value
print(nums)
nums[-1] = 20
print(nums)

[120, 34, 25, 54, 23, 453]
[120, 34, 25, 54, 23, 20]

In [10]:
for i in d:
    print(i)

arun
100
varun
150
tarun
130

In [11]:
for i in d:
    if isinstance(i,str):
        print(i,'is string')
    elif isinstance (i,int):
        print(i,'is integer')
    else:
        print(i,'is inknown')

arun is string
100 is integer
varun is string
150 is integer
tarun is string
130 is integer

### list methods
- adding
    - append()
    - insert()
    - extend()
- remove
    - remove() -find the value and remove
    - pop() - find the index and extract the value
    - clear()

- manipulation
    - count()
    - sort()
    - reverse()
    - copy()
    - index()

# adding- append(),insert(),extend()
append()- add value at the end of the list

In [25]:
list1= ['ali','sonali',49,'varun',True,78,49.6]
list2 = ['umer','shalu',False,7.9,23]
print(list1)
list1.append('shalu')
print(list1)
list1.append(500)
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'shalu']
['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'shalu', 500]

In [28]:
colors= []
colors.append('red')
colors.append('orange')
colors.append('pink')
print(colors)

['red', 'orange', 'pink']

In [29]:
colors.append('brown')
colors.append('blue')
colors.append('black')

In [30]:
colors

['red', 'orange', 'pink', 'brown', 'blue', 'black']

In [34]:
e.append([1,3,4])
e

[[1, 2, 3], [2, 3, 4, 5], [1, 3, 4], [1, 3, 4]]

In [36]:
e[0].append(5)
e

[[1, 2, 3, 5], [2, 3, 4, 5], [1, 3, 4], [1, 3, 4]]

## insert()

In [30]:
list1= ['ali','sonali',49,'varun',True,78,49.6]
print(list1)
list1.insert(1,'neha')
print(list1)
list1.insert(5,56)
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'neha', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'neha', 'sonali', 49, 'varun', 56, True, 78, 49.6]

In [37]:
colors.insert(2,'green')
colors

['red', 'orange', 'green', 'pink', 'brown', 'blue', 'black']

In [ ]:
colors.insert(0,'white') # add white at index no. 0
colors                        #[white,orange,green,pink,brown,blue,black]

# extend()

In [34]:
list1= ['ali','sonali',49,'varun',True,78,49.6]
list2=['umer','juhi',False,7.9,23]
t1=(1,2,3,4,5,6)  # tuple//it also add dict.,set in list
print(list1)
list1.extend(list2)
print(list1)
list1.extend(t1)  # adding tuple in list
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'umer', 'juhi', False, 7.9, 23]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'umer', 'juhi', False, 7.9, 23, 1, 2, 3, 4, 5, 6]

In [36]:
# difference b/w append and extend-append add whole list but extend add only values
list1= ['ali','sonali',49,'varun',True,78,49.6]  
list2=['umer','juhi',False,7.9,23]
print(list1)                                  
list1.append(list2)
print(list1)
list1.extend(list2)
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, ['umer', 'juhi', False, 7.9, 23]]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, ['umer', 'juhi', False, 7.9, 23], 'umer', 'juhi', False, 7.9, 23]

In [45]:
x=[1,2,3,4,5,6]
y = [2,3,4,5]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 2, 3, 4, 5]

# remove-remove(),pop(),clear(),delete()

#### remove()

In [37]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
print(list1)
list1.remove('ali')
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['sonali', 49, 'varun', True, 78, 49.6]

#### pop()- remove last value from list,if index mentioned then remove the index value

In [41]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
print(list1)
list1.pop()
print(list1)
list1.pop()
print(list1)
list1.pop(2)
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'sonali', 49, 'varun', True, 78]
['ali', 'sonali', 49, 'varun', True]
['ali', 'sonali', 'varun', True]

In [47]:
colors = ['white','red','orange','green','pink','blue','black','brown']

In [48]:
colors.pop(2) #orange

'orange'

In [49]:
colors # [white,red,pink,brown,blue,black]

['white', 'red', 'green', 'pink', 'blue', 'black', 'brown']

In [52]:
var = colors.pop()# remove last item

In [51]:
colors

['white', 'red', 'green', 'pink', 'blue', 'black']

In [53]:
var

'black'

### delete()

In [44]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
print(list1)
del list1[3]
print(list1)

del list1  # delete whole list
print (list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
['ali', 'sonali', 49, True, 78, 49.6]

NameError: name 'list1' is not defined

## clear()-it clear all values in list

In [45]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
print(list1)
list1.clear()
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6]
[]

In [55]:
x =[1,2,12,1,1,2,25,25]
print(x.count(1))
print(x.count(2))
print(x.count(25))
print(x.count(12))

3
2
2
1

In [56]:
d

['arun', 100, 'varun', 150, 'tarun', 130]

## List Sorting

In [47]:
number= [2,5,7,4,9,2,1,5] # by default ascending order
print(number)
number.sort()
print(number)
number.sort(reverse=True)
print(number)

[2, 5, 7, 4, 9, 2, 1, 5]
[1, 2, 2, 4, 5, 5, 7, 9]
[9, 7, 5, 5, 4, 2, 2, 1]

In [50]:
list3=['apple','orange','Banana','grapes','Kiwi','mango']  # sort alphabet wise
list3.sort()
print(list3)

['Banana', 'Kiwi', 'apple', 'grapes', 'mango', 'orange']

In [57]:
x = [1,2,3,1,1,2,2,3,3,5]
x.sort()
print(x)
x.sort(reverse=True)  # descending order
print(x)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 5]
[5, 3, 3, 3, 2, 2, 2, 1, 1, 1]

In [58]:
x = [1,2,3,1,1,2,2,3,3,5]
x.reverse()
print(x)

[5, 3, 3, 2, 2, 1, 1, 3, 2, 1]

In [60]:
print(colors.index('red'))
print(colors.index('blue'))

1
4

In [2]:
x= [1,2,3]
print(x)

[1, 2, 3]

In [3]:
y = x #shallow copy(refernce)
y.append(4)
print(x)
print(y)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [4]:
z= x.copy()
z.append(4)
y.remove(1)
print(x)
print(y)
print(z)

[2, 3, 4]
[2, 3, 4]
[1, 2, 3, 4, 4]

## Copy and joining list

In [51]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
list2=['umer','juhi',False,7.9,23]
list4= list1.copy()
list1.pop() # remove last element from list
list1.append('rahul') # add value in last
print(list1)
print(list4)

['ali', 'sonali', 49, 'varun', True, 78, 'rahul']
['ali', 'sonali', 49, 'varun', True, 78, 49.6]

In [54]:
list1= ['ali','sonali',49,'varun',True,78,49.6]  
list2=['umer','juhi',False,7.9,23]
list5= list1+list2
list1.extend(list2)
print(list5)
print(list1)

['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'umer', 'juhi', False, 7.9, 23]
['ali', 'sonali', 49, 'varun', True, 78, 49.6, 'umer', 'juhi', False, 7.9, 23]

## Multidimensional list

In [62]:
list1= ['ali','sonali',49,'varun',True,78,49.6] 
print(list1[5])
list6=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]  #index[0,1,2]
new= list6[1]
print(new)
x= list6[1][3] #specific value
print(x)
y=list6[2][3]
print(y)

78
[3, 6, 9, 12, 15]
12
16

## list iteration

In [4]:
l=[10,20,30,40,60,90,80] # list works on index no.
t=len(l)
for a in range(t):  #in place of range we can also write ''for a in l'
    print(l[a])

10
20
30
40
60
90
80

In [5]:
l=[10,20,30,40,60,90,80] # list works on index no.
t=len(l)
for a in range(t-1,-1,-1):
    print(l[a])

80
90
60
40
30
20
10

## zip()

In [8]:
l=[10,20,30,40,60,90,80]      # t=len(l)
l1=[99,77,88,66,55,11,22]     # for h in range(t)
for a,b in zip(l,l1):         # print(l[h],l1[h]])
    print(a,':',b)

10 : 99
20 : 77
30 : 88
40 : 66
60 : 55
90 : 11
80 : 22