# tuple
  * python handles multiple values as tuple
    - create
    - tuple packing and unpacking

In [2]:
x=(1,2,3)# tuple
y=1,5,7 # typle
print(x)
print(y)

(1, 2, 3)
(1, 5, 7)

In [3]:
word ='tuple'
for i in enumerate(word):
    print(i)

(0, 't')
(1, 'u')
(2, 'p')
(3, 'l')
(4, 'e')

In [5]:
x= (1,2,1,1,1,2,2,2)
print(x.count(2))
print(x.index(2)) # search for 2 and return the index
print(x.index(2,2)) # search for 2,starting from index 2

4
1
5

In [6]:
data= ('Alpha','Beta','Gamma')
a,b,c = data # packing
print(c,b,a)

Gamma Beta Alpha

In [7]:
a,b = data #eror, size mismatch

ValueError: too many values to unpack (expected 2)

In [8]:
data =('alpha','beta','gamma','delta','epsilon')

In [13]:
# take first value in a a variable and put the rest in second variable
i,*j = data
print(i)
print(j)
*x,y = data
print(x)
print(y)
a,*b,c = data
print(a,b,c)
a,b,c,*d = data
print(a,b,c,d)

alpha
['beta', 'gamma', 'delta', 'epsilon']
['alpha', 'beta', 'gamma', 'delta']
epsilon
alpha ['beta', 'gamma', 'delta'] epsilon
alpha beta gamma ['delta', 'epsilon']

In [16]:
a= (1,) # single element tuple,comma is important
print(type(a),a)

<class 'tuple'> (1,)

# Set
* create
* methods
* set operations

In [18]:
a = set() #empty set
b = {1,2,3}
c ={12,45,2,2,3,1,3,1,2,1,2,3,1,2,3,4,2,5,4,1,1,2}
print(a)
print(b)
print(c)
d={'a','d','c'}
print(d)

set()
{1, 2, 3}
{1, 2, 3, 4, 5, 12, 45}
{'a', 'c', 'd'}

In [19]:
c.add(5)
print(c)
c.add(100)
c.update([1,2,3,11,12])
print(c)

{1, 2, 3, 4, 5, 12, 45}
{1, 2, 3, 4, 5, 11, 12, 100, 45}

In [20]:
c.remove(100)
print(c)
c.discard(3)
print(c)

{1, 2, 3, 4, 5, 11, 12, 45}
{1, 2, 4, 5, 11, 12, 45}

In [21]:
c.pop()# remove random element
print(c)

{2, 4, 5, 11, 12, 45}