# tuple
  * python handles multiple values as tuple
    - create
    - tuple packing and unpacking

In [2]:
x=(1,2,3)# tuple
y=1,5,7 # tuple
print(x)
print(y)

(1, 2, 3)
(1, 5, 7)

In [1]:
t= (1,2,3,4,5,'ali',True,'ali')
print(type(t))
print(len(t))

<class 'tuple'>
8

In [4]:
t= (1,2,3,4,5,'ali',True,'ali')
print(t[1])
print(t[-2])
print(t[1:4])

2
True
(2, 3, 4)

In [7]:
t= (1,2,3,4,5,'ali',True,'ali') # to change value in tuple we use typcasting
y= list(t) # convert tuple in list
y[2]='shalu'
z= tuple(y) # convert list in tuple
print(z)

(1, 2, 'shalu', 4, 5, 'ali', True, 'ali')

In [8]:
# add tuple
t_1= (1,2,'ali',True,'ali')
t_2= (1,2,3,4,5)
t_3=t_1+t_2
print(t_3)

(1, 2, 'ali', True, 'ali', 1, 2, 3, 4, 5)

In [2]:
t1=(36,)
print(type(t1))
print(len(t1))

<class 'tuple'>
1

In [5]:
# tuple constructor
x= tuple((1,2,3,4))
print(type(x))

<class 'tuple'>

In [6]:
t2=(1,2,'riaz',True,19.6,'ali',2)
print(t2[1:5])
print(t2[-6:-2])

(2, 'riaz', True, 19.6)
(2, 'riaz', True, 19.6)

In [12]:
t2=(1,2,'riaz',True,19.6,'ali',2)  # append directly cannot use in tuple// use typcasting
x1=list(t2)
x1.append('neha')
print(x1)
x1.remove('riaz')
print(x1)
z1=tuple(x1)
print(z1)

[1, 2, 'riaz', True, 19.6, 'ali', 2, 'neha']
[1, 2, True, 19.6, 'ali', 2, 'neha']
(1, 2, True, 19.6, 'ali', 2, 'neha')

# unpacking

In [13]:
t2=(1,2,'riaz',True,19.6,'ali',2) 
(a,b,c,d,e,f,g)=t2  # variables are made in form of tuple
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

1
2
riaz
True
19.6
ali
2

In [15]:
# create a tuple having ten item with different data types and remove the last item
t2=(1,2,'riaz',True,19.6,'ali',2,86,8,False)
x3=list(t2)
x3.pop()
newt2=tuple(x3)
print(newt2)

(1, 2, 'riaz', True, 19.6, 'ali', 2, 86, 8)

In [17]:
# use a method to unpack all the 10 items using only 2 keys or values
t2=(1,2,'riaz',True,19.6,'ali',2) 
*a,b=t2
print(a)
print(b)
a,*b=t2
print(a)
print(b)

[1, 2, 'riaz', True, 19.6, 'ali']
2
1
[2, 'riaz', True, 19.6, 'ali', 2]

In [3]:
word ='tuple'
for i in enumerate(word):
    print(i)

(0, 't')
(1, 'u')
(2, 'p')
(3, 'l')
(4, 'e')

In [5]:
x= (1,2,1,1,1,2,2,2)
print(x.count(2))
print(x.index(2)) # search for 2 and return the index
print(x.index(2,2)) # search for 2,starting from index 2

4
1
5

In [6]:
data= ('Alpha','Beta','Gamma')
a,b,c = data # packing
print(c,b,a)

Gamma Beta Alpha

In [7]:
a,b = data #eror, size mismatch

ValueError: too many values to unpack (expected 2)

In [8]:
data =('alpha','beta','gamma','delta','epsilon')

In [13]:
# take first value in a a variable and put the rest in second variable
i,*j = data
print(i)
print(j)
*x,y = data
print(x)
print(y)
a,*b,c = data
print(a,b,c)
a,b,c,*d = data
print(a,b,c,d)

alpha
['beta', 'gamma', 'delta', 'epsilon']
['alpha', 'beta', 'gamma', 'delta']
epsilon
alpha ['beta', 'gamma', 'delta'] epsilon
alpha beta gamma ['delta', 'epsilon']

In [16]:
a= (1,) # single element tuple,comma is important
print(type(a),a)

<class 'tuple'> (1,)

# Set-unordered,unchangeable
* create
* methods
* set operations

In [22]:
a = set() #empty set
b = {1,2,3}
c ={12,45,2,2,3,1,3,1,2,1,2,3,1,2,3,4,2,5,4,1,1,2}
print(a)
print(b)
print(c)
d={'a','d','c'}
print(d)

set()
{1, 2, 3}
{1, 2, 3, 4, 5, 12, 45}
{'d', 'a', 'c'}

In [24]:
s= {1,2,"car",3,4,5,6,"shalu"}
print(s)
print(type(s))
print(len(s))

{1, 2, 3, 4, 5, 6, 'shalu', 'car'}
<class 'set'>
8

In [25]:
s1=set((1,2,"car",3,4,5,6,"shalu"))
print(s1)

{1, 2, 3, 4, 5, 6, 'shalu', 'car'}

# add() and update()- we can add values through add and union function both

In [27]:
s= {1,2,"car",3,4,5,6,"shalu"} # addition it will add anywhere
s.add("raza")
print(s)

{1, 2, 3, 4, 5, 6, 'shalu', 'car', 'raza'}

In [28]:
s2= {1,2,"car",3,4,5,6,"shalu"}
s3={True,20.1} #boolean value cannot be added
s2.update(s3)
print(s2)

{1, 2, 3, 4, 5, 6, 'shalu', 'car', 20.1}

# remove() and discard()

In [29]:
s= {1,2,"car",3,4,5,6,"shalu"} # both function works same but have slight difference,remove function show error but discard cannot
s.remove('car')
print(s)
s.discard('car')
print(s)

{1, 2, 3, 4, 5, 6, 'shalu'}
{1, 2, 3, 4, 5, 6, 'shalu'}

# remove all values in set

In [35]:
s= {1,2,"car",3,4,5,6,"shalu"}
s.clear()
print(s)

set()

In [38]:

c ={12,45,2,2,3,1,3,1,2,1,2,3,1,2,3,4,2,5,4,1,1,2}
c.add(5)
print(c)
c.add(100)
print(c)
c.update([11,12])
print(c)

{1, 2, 3, 4, 5, 12, 45}
{1, 2, 3, 4, 5, 100, 12, 45}
{1, 2, 3, 4, 5, 11, 12, 100, 45}

In [20]:
c.remove(100)
print(c)
c.discard(3)
print(c)

{1, 2, 3, 4, 5, 11, 12, 45}
{1, 2, 4, 5, 11, 12, 45}

In [21]:
c.pop()# remove random element
print(c)

{2, 4, 5, 11, 12, 45}

In [2]:
movies1={'aaa','bbb','ccc','ddd','eee','ddd'}
movies2={'fff','ggg','hhh','iii','jjj'}
movies3={'aaa','bbb','ccc','fff','ggg','hhh','kkk'}

* | union
* & intersection
* -difference
* ^ symmetric differnce

In [3]:
print(movies1.union(movies3))
print(movies1 | movies3)

{'eee', 'ggg', 'hhh', 'ccc', 'aaa', 'ddd', 'kkk', 'bbb', 'fff'}
{'eee', 'ggg', 'hhh', 'ccc', 'aaa', 'ddd', 'kkk', 'bbb', 'fff'}

In [34]:
s5={1,2,5,3,87,9}
s6={3,5,2,9,54,23}
set1= s5.union(s6)
print(set1)
set1=s5.intersection(s6)
print(set1)
set1=s5.difference(s6)
print(s6)
set1=s5.symmetric_difference(s6)
print(s6)

{1, 2, 3, 5, 9, 23, 54, 87}
{9, 2, 3, 5}
{2, 3, 5, 54, 23, 9}
{2, 3, 5, 54, 23, 9}

In [8]:
print(movies1.intersection(movies3))
print(movies1 &  movies3)

{'aaa', 'bbb', 'ccc'}
{'aaa', 'bbb', 'ccc'}

In [10]:
print(movies1.difference(movies3))
print(movies1 -  movies3)
print(movies3 -  movies1)

{'eee', 'ddd'}
{'eee', 'ddd'}
{'ggg', 'hhh', 'fff', 'kkk'}

In [11]:
print(movies1.symmetric_difference(movies3))
print(movies1^ movies3)

{'eee', 'ggg', 'hhh', 'ddd', 'kkk', 'fff'}
{'eee', 'ggg', 'hhh', 'ddd', 'kkk', 'fff'}

#### relation
* issuperset
* issubset
* isdisjoint

In [12]:
movies3.issuperset(movies2)

False

In [13]:
movies2.isdisjoint(movies1)  # there is nothing common

True

In [14]:
movies3.isdisjoint(movies2) # there are common items

False